.setup-wrapper {
	width: 750px;
	padding-top: 30px;
	margin: 0 auto;
}

.setup-main {
	float: left;
	width: 450px;
}

.setup-form-title {
	font-size: 16px;
}

.btn-primary {
	color: #fff;
	background-color: #28a745;
	background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
	background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.btn-second {
	color: #fff;
	background-color: #0080ff;
	background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
	background-image: linear-gradient(-180deg, #0080ff 0%, #0080ff 90%);
}

.btn-primary:hover, .btn-primary.hover {
	background-color: #269f42;
	background-image: -webkit-linear-gradient(270deg, #2fcb53 0%, #269f42 90%);
	background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
	background-position: 0 -0.5em;
	border-color: rgba(27, 31, 35, 0.5)
}

.btn-second:hover, .btn-second.hover {
	background-color: #0080ff;
	background-image: -webkit-linear-gradient(270deg, #0080ff 0%, #0080ff 90%);
	background-image: linear-gradient(-180deg, #0080ff 0%, #0080ff 90%);
	background-position: 0 -0.5em;
	border-color: rgba(27, 31, 35, 0.5)
}
.auth-form {
	width: 340px;
	margin: 0 auto;
}

.auth-form-body .input-block {
	margin-top: 5px;
	margin-bottom: 15px;
}

.session-authentication .label-link {
	float: right;
	font-size: 12px;
}

.session-authentication .auth-form label {
	display: block;
	margin-bottom: 7px;
}

.session-authentication .auth-form-body {
	border-top: 1px solid #d8dee2;
	border-radius: 5px;
}

.auth-form-body {
	font-size: 14px;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-width: 0px 1px 1px;
	border-style: solid solid solid;
	border-color: rgb(216, 222, 226) rgb(216, 222, 226) rgb(216, 222, 226);
	border-image: initial;
	border-top: 0px;
	border-radius: 0px 0px 3px 3px;
}

.mt-3 {
	margin-top: 16px !important;
}

.session-authentication .flash {
	padding: 15px 20px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 13px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

.flash-error {
	color: #86181d;
	background-color: #ffdce0;
	border-color: rgba(27, 31, 35, 0.15);
}

.home .nav {
	width: 200px;
	float: left;
}

.home_container {
	width: 800px;
	margin: 0 auto;
}

.tag_label{
	width:80px;
}

.list_item{
	clear:both;
	padding:5px;
}
.list_item .head{
	width:80px;
	height:80px;
	float:left;
}
.list_item .main{
	float:left;
	padding-left:10px;
}

img.qrcode{
	width:240px;
	height: 240px;
}
